.titre-real {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

/* Backdrop Bootstrap */
.modal-backdrop {
    z-index: -1;
}

.accordion-button {
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    background-color: #f8f9fa00;
    color: #000;
}

.real-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-skill {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    list-style: none;
}

.list-skill li {
    list-style:circle;
    margin-bottom: 10px;
}

.carousel-fixed {
    height: 320px; /* ajuste selon ton design */
}

.carousel-fixed .carousel-item,
.carousel-fixed img {
    height: 100%;
}

.carousel-fixed img {
    object-fit: cover;     /* remplit sans déformer */
    object-position: center;
}
