#realisation {
    justify-content: center;
}

.titre-real {
    margin-top: 50px;
}
.galerie {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    margin-top: 0;
}

.ligne{
    border-bottom: 2px solid #fff; 
    padding-bottom: 40px; 
    margin-bottom: 20px; 
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#realisation h2 {
    margin-top: 10px !important;
}

.wrapper{
    max-width: 1400px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.wrapper .fleche{
    height: 50px;
    width: 50px;
    /* background: #fff; */
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper .fleche:first-child {
    left: -22px;
}

.wrapper .fleche:last-child{
    right: -22px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type:  x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel .dragging {
    scroll-behavior: auto;
}
.carousel .card {
    height: 350px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: centrer;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.card .img {
    width: 600px;
    height: 348px;
    border-radius: 8px;
}

.card .img img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.list-skill {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    list-style: none;
}

.list-skill li {
    list-style:circle;
    margin-top: 10px;
    font-size: 1rem;
}

#map {
    position: relative;
   width: 500px;
   height: 500px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    background: white;
    padding: 20px;
}
h1, h2, h3 {
    color: #ebe8e8;
}
/* .section {
    margin-bottom: 20px;
} */
.section-title {
    border-bottom: 2px solid #0077cc;
    margin-bottom: 10px;
}
ul {
    padding-left: 20px;
}
.two-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.column {
    flex: 1 1 45%;
}
.contact-info {
    font-size: 0.9em;
}

/* Version mobile  */
@media screen and (max-width:  900px) {

    .wrapper .carousel {
        grid-auto-columns: calc((100% /2) -9px);
    }
}

@media screen and (max-width:  600px) {

    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}