
/* ============ STYLES PRESENTATION ============ */
link[rel="shortcut icon"] {
    pointer-events: none;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    min-height: 60vh;
    aspect-ratio: 16/9;
    background: #000;
    position: relative;
    z-index: 1;
}
.silder-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    margin-bottom: 50px;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

h1 {
    color: #FFF;
    font-size: 3rem;
}

.slider-content p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #FFF;
}

.img-profil{
    position: absolute;
    width: 30%; 
    height: auto;
    border-radius: 80px;
    right: 10%;
}

.competances{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

.competances a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
    padding: 5px;
    padding-right: 5px;
    
}

.competances li {
    background-color: green;
    color: #FFF;
    border-radius: 10px;
    margin-right: 10px;
}

.flou {
    background: transparent;
    filter: blur(5px);
    border-radius: 8px;
}

/* ============ STYLES GALERIE ============*/
#galerie {
    max-height: 40vh;
    width: 100vw;
    padding: 20px;
    background-color: #121212;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-rows: 150px;
    gap: 5px;
    height: 700px;
    overflow-y: auto;
    padding-right: 20px;
    grid-auto-flow: dense;
    border-radius: 10px;
}

#grid::-webkit-scrollbar {
    background-color: #dedede;
    width: 10px;
}

#grid::-webkit-scrollbar-thumb {
    background-color: #757575;
}

.grid-item {
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;
}

#galerie video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#nature-2,
#nature-7,
#nature-16 {
    grid-column: span 2;
}

#nature-4,
#nature-5,
#nature-10 {
    grid-row: span 2;
}

#nature-13 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.2s ease;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 2; 
}

/* ============ STYLES CENTRES INTERESSES ============ */

.interest-thumb {
    width: 180px;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.interest-thumb:hover {
    transform: scale(1.05);
}

/* Backdrop Bootstrap */
.modal-backdrop {
    z-index: -1;
}

/* Fenêtre du modal */
.modal {
    z-index: 1055;
}

